.asset-value-trend-chart {
  width: 100%;
  height: 400px;
}

.asset-value-trend-chart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  color: var(--text-secondary);
}
